@import './settings/colors';
@import './settings/fonts';
// @import './reset.scss';

// GENERAL STYLES

body {
    box-sizing: border-box;
}

.page-container {
    position: relative;
}

.mainText {
    color: $color-main;
    font-size: 38px;
    font-weight: 400;
    text-align: center;
    letter-spacing: -0.76px;
}

.decorativeElement {
    margin: 25px auto;
    width: 253px;
    height: 33px;
    background: transparent url('../assets/Decoration.svg') 0% 0% no-repeat padding-box;
}

.btn {
    border: 0.75px solid $color-main;
    margin: 22px;
    padding: auto;
    height: 120px;
    width: 310px;    
    display: flex;
    justify-content: center;
    a { 
        width: 100%;
        height: 100%;
        display: flex;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        font-family: $font-base;
        font-size: 36px;
        font-weight: 300;
        color: $color-main;
        span {
            margin: auto;
        }
    }
}

// SECTIONS STYLES

.homeHeader {
    position: absolute;
    right: 0px;
    width: 60vw;
    margin: 5vh 10vw;
    .loginMenu {
        font-family: $font-base;
        font-size: 14px;
        font-weight: 400;
        color: $color-login-menu;
        display: flex;
        justify-content: flex-end;
        li {
            padding: 9px 10px;
            border: solid yellow 2px;
            list-style: none;
            .menuLink {
                text-decoration: none;
                color: inherit
            }
        }
    }
    .navMenu {
        font-family: $font-base;
        font-size: 18px;
        font-weight: 400;
        color: $color-main;
        display: flex;
        justify-content: flex-end;
        li {
            list-style: none;
            .navLink {
                text-decoration: none;
                padding: 9px 20px;
            }
            .navLinkActive {
                border: solid $color-main 0.75px;
            }
        }
    }
}

.homeMain {
    width: 99vw;
    height: 90vh;
    background-image: url('../assets/Home-Hero-Image.jpg');
    background-position: right 55vw top;
    background-repeat: no-repeat;
    background-size: contain;
    .homeMainSection {
        margin-left: auto; 
        margin-right: 0;
        width: 55vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .mainRedirect {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            margin: 0;
        }
    }
}

.homeYellowBar {
    width: 99vw;
    height: 40vh;
    background: transparent url('../assets/3\ Columns\ Background.png') 0% 0% no-repeat padding-box;
    background-size: cover;
    opacity: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    .yellowBarStat {
        height: 100%;
        flex-basis: 20vw;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        .yellowBarStatNumber {
            text-align: center;
            color: $color-stat;
            font-family: $font-base;
            font-weight: 300;
            font-size: 90px;
            line-height: 122px;
            margin-top: 46px;
            margin-bottom: 10px;
        }
        .yellowBarStatTitle {
            text-align: center;
            color: $color-main;
            font-family: $font-base;
            font-size: 18px;
            text-transform: uppercase;
            margin-bottom: 48px;
        }
        .yellowBarStatDiscription {
            text-align: center;
            color: $color-main;
            font-family: $font-alt;
            font-weight: 300;
            font-size: 16px;
            letter-spacing: -0.32px;
        }
    }
}

.homeFourSteps {
    width: 99vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding-top: 55px;
    .fourSteps {
        width:  100%;
        background-color: $color-background-alt;
        .fourStepsList {
            width: 60%;
            height: 325px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0;
            margin: auto;
            list-style: none;
            .fourStepsStep {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                .stepIcon {
                    width: 83px;
                    height: 83px;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
                .iconShirt {
                    background-image: url(../assets/Icon-1.svg);
                }
                .iconBag {
                    background-image: url(../assets/Icon-2.svg);
                }
                .iconGlas {
                    background-image: url(../assets/Icon-3.svg);
                }
                .iconExchange {
                    background-image: url(../assets/Icon-4.svg);
                }
                .stepTitle {
                    font-family: $font-base;
                    font-size: 18px;
                    text-align: center;
                    color: $color-main;
                    margin-top: 10px;
                }
                .stepUnderline {
                    width: 70px;
                    height: 0;
                    border: 1px solid $color-underline;
                    margin: 10px;
                }
                .stepDiscription {
                    font-family: $font-base;
                    font-size: 16px;
                    text-align: center;
                    color: $color-main;
                }
            }
        }
    }
}

.homeAboutUs {
    width: 99vw;
    height: 50vw;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-top: 45px;
    .aboutUs {
        width: 50%;
        height: 100%;
        background-color: $color-background-alt;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .aboutUsText {
            width: 30vw;
            font-family: $font-base;
            font-size: 30px;
            text-align: center;
            color: $color-main;
            line-height: 54px;
            margin-top: 40px;
            margin-bottom: 40px;
        }
        .aboutUsSign {
            width: 30vw;
            height: 150px;
            background-image: url(../assets/Signature.svg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: right;
        }
    }
    .aboutUsImage {
        width: 50%;
        height: 100%;
        background-image: url(../assets/People.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.homeWhoWeHelp {
    width: 99vw;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-top: 45px;
    .whoWeHelpList {
        width: 60%;
        display: flex;
        justify-content: center;
        padding: 0;
        .whoWeHelpOrgBtn {
            width: 170px;
            height: 80px;
            padding: 0 40px;
            margin: 0 45px;
            list-style: none;
            font-family: $font-base;
            font-size: 24px;
            color: $color-main;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .orgActive {
            border: 1px solid $color-underline
        }
    }
    .whoWeHelpDisctirpion {
        width: 34vw;
        margin: 66px 0;
        font-family: $font-base;
        font-size: 22px;
        color: $color-main;
        text-align: center;
    }
    .whoWeHelpOrgList {
        width: 70vw;
        list-style-type: none;
        .orgListOrg {
            display: flex;
            justify-content: space-between;
            padding: 40px 0;
            align-items: center;
            border-bottom: 1px solid $color-underline;
            .orgListOrgDiscription {
                .orgListName {
                    font-family: $font-base;
                    font-size: 26px;
                    color: $color-main;
                }
                .orgListTarget {
                    font-family: $font-base;
                    font-size: 18px;
                    color: $color-main;
                }
            }
            .orgListNeeds {
                font-family: $font-alt;
                font-size: 18px;
                color: $color-main;
                font-weight: 300;
                text-align: right;
            }
        }
    }
    .pagination {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        .page-item {
            width: 40px;
            height: 50px;
            margin: 0 8px;
            font-family: $font-base;
            font-size: 18px;
            color: $color-main;
            text-align: center;
            text-decoration: none;
            line-height: 50px;
        }
        .pageActive {
            border: 1px solid $color-underline;
        }
    }
}

.homeContact {
    width: 99vw;
    height: 1000px;
    display: flex;
    justify-content: flex-end;
    position: relative;
    .formContainer {
        width: 530px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin-top: 45px;
        margin-right: 9vw;
        position: relative;
        z-index: 2;
        .contactForm {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .errorMsg {
                color: red;
            }
            .succesMsg {
                color: green;
                padding: 20px 140px;
                margin-left: auto;
                margin-right: auto;
                width: 250px;
                text-align: center;
                font-weight: 700;
            }
            .fieldContainer {
                height: 100px;
                .contactFormLabel {
                    width: 256px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    text-align: right;
                    font-family: $font-base;
                    font-size: 16px;
                    font-weight: 600;
                    color: $color-main;
                    line-height: 45px;
                    color: #3C3C3C;
                    input {
                        width: 256px;
                        margin: 0;
                        padding: 0;
                        border: none;
                        border-bottom: 1px solid $color-underline;
                        background-color: transparent;
                        font-family: $font-base;
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 24px;
                        color: $color-main;
                        &::placeholder {
                            white-space: normal;
                            color: #3c3c3c26;
                        }
                    }
                }
            }
            .contactFormTextarea {
                width: 530px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                font-family: $font-base;
                font-size: 16px;
                font-weight: 600;
                color: $color-main;
                line-height: 45px;
                color: #3C3C3C;
                textarea {
                    width: 530px;
                    height: 97px;
                    margin: 0;
                    padding: 0;
                    border: none;
                    border-bottom: 1px solid $color-underline;
                    background-color: transparent;
                    font-family: $font-base;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 24px;
                    color: $color-main;
                    overflow-wrap: normal;
                    word-wrap: normal;
                    resize: none;
                    &::placeholder {
                        white-space: normal;
                        color: #3c3c3c26;
                    }
                }
            }
            .contactFormSubmit {
                border: 0.75px solid $color-main;
                margin-top: 40px;
                margin-right: 0;
                margin-left: auto;
                height: 50px;
                width: 150px;    
                text-align: center;
                font: normal normal 300 18px/45px Open Sans;
                color: $color-main;
                background-color: inherit;
                justify-self: flex-end;
            }
        }
    }
    &:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: url(../assets/Background-Contact-Form.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.2;
    }
}

.homeFooter {
    width: 99vw;
    height: 50px;
    position: relative;
    .footerCopywrites {
        display: block;
        line-height: 50px;
        text-align: center;
    }
    .footerSocialMedia {
        position: absolute;
        right: 9vw;
        bottom: 0;
        display: flex;
        .socialMediaFB {
            width: 30px;
            height: 30px;
            background-image: url(../assets/Facebook.svg);
            background-size: contain;
            margin: 10px;
        }
        .socialMediaInsta {
            width: 30px;
            height: 30px;
            background-image: url(../assets/Instagram.svg);
            background-size: contain;
            margin: 10px;
        }
    }
}

.logowanieContainer {
    width: 99vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    .logowanieForm {
        width: 500px;
        margin: 0 auto;
        .errorMsg {
            color: red;
            padding-right: 60px;
            padding-left: 60px;
        }
        .logowanieInputContainer {
            width: 380px;
            height: 155px;
            margin: auto;
            padding: 40px 0;
            background-color: $color-background-alt;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .logowanieFormLabel {
                width: 250px;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                text-align: right;
                font-family: $font-base;
                font-size: 16px;
                font-weight: 600;
                color: $color-main;
                line-height: 45px;
                color: #3C3C3C;
                input {
                    width: 256px;
                    margin: 0;
                    padding: 0;
                    border: none;
                    border-bottom: 1px solid $color-underline;
                    background-color: transparent;
                    font-family: $font-base;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 24px;
                    color: $color-main;
                }
            }
        }
        .logowanieBtnContainer {
            display: flex;
            justify-content: space-between;
            .logowanieBtn {
                border: 0.75px solid $color-main;
                margin-top: 40px;
                padding: 0;
                height: 50px;
                width: 117px;    
                text-align: center;
                font: normal normal 300 18px/50px Open Sans;
                color: $color-main;
                background-color: inherit;
                justify-self: flex-end;
                text-decoration: none;
            }
            a.logowanieBtn {
                border: none;
            }
        }
    }
}

.rejestracjaContainer {
    width: 99vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    .rejestracjaForm {
        width: 500px;
        margin: 0 auto;
        .errorMsg {
            color: red;
            padding-right: 60px;
            padding-left: 60px;
        }
        .rejestracjaInputContainer {
            width: 380px;
            margin: auto;
            padding: 40px 0;
            background-color: $color-background-alt;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .rejestracjaFormLabel {
                width: 250px;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                text-align: right;
                font-family: $font-base;
                font-size: 16px;
                font-weight: 600;
                color: $color-main;
                line-height: 45px;
                color: #3C3C3C;
                input {
                    width: 256px;
                    margin: 0;
                    padding: 0;
                    border: none;
                    border-bottom: 1px solid $color-underline;
                    background-color: transparent;
                    font-family: $font-base;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 24px;
                    color: $color-main;
                }
            }
        }
        .rejestracjaBtnContainer {
            display: flex;
            justify-content: space-between;
            .rejestracjaBtn {
                border: 0.75px solid $color-main;
                margin-top: 40px;
                padding: 0;
                height: 50px;
                width: 117px;    
                text-align: center;
                font: normal normal 300 18px/50px Open Sans;
                color: $color-main;
                background-color: inherit;
                justify-self: flex-end;
                text-decoration: none;
            }
            a.rejestracjaBtn {
                border: none;
            }
        }
    }
}

.wylogowanoContainer {
    width: 500px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 0 calc((99vw - 500px) /2);
    .wylogowanoBtn {
        border: 0.75px solid $color-main;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        height: 50px;
        width: 150px;    
        text-align: center;
        font: normal normal 300 18px/50px Open Sans;
        color: $color-main;
        background-color: inherit;
        text-decoration: none;
    }
}